{% extends './base.html' %}

{% block content %}
    <div class="container">
        <h1>Category</h1>
        <form>
            <ul class="list-unstyled category-select-genre-list d-flex flex-wrap">
                {% for genre in all_genre %}
                    <li class="mb-2">
                        <label category-genre-item class="btn btn-sm rounded-pill fs-7">{{ genre.name }}</label>
                        <input class="d-none" name="genre" type="checkbox" value="{{ genre.pk }}" />
                    </li>
                {% endfor %}
            </ul>
            <input id="submitGenre" class="d-none" type="submit" />
        </form>
    
        <div class="row gy-4 gx-2 category-stories">
            {% for story in stories %}
                <div class="col-6 col-lg-3">
                    <a class="text-muted text-decoration-none" href="{% url 'oldstimes:story' story.id %}">
                        <div class="card p-2">
                            <h5 class="title">{{ story.title }}</h5>

                            <p class="abstract">{{ story.abstract }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const genreItems = document.querySelectorAll('[category-genre-item]')

        const params = (new URL(document.location)).searchParams;
        const selectedGenre = params.getAll('genre');

        genreItems.forEach(genreEl => {
            const inputEl = genreEl.nextElementSibling
            if (selectedGenre.includes(inputEl.value)) {
                genreEl.classList.add('btn-primary')
                inputEl.checked = true
            } else {
                genreEl.classList.add('btn-outline-primary')
            }

            genreEl.addEventListener('click', (e) => {
                inputEl.checked = !inputEl.checked
                document.getElementById('submitGenre').click()
            })
        })
    </script>
{% endblock content %}