{% extends './settings_base.html' %}

{% block sub-content %}
    <h3>Manage your stories</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Story ID</th>
                <th scope="col">Title</th>
                <th scope="col">Publish Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for story in stories %}
                <tr id="story-{{ story.pk }}">
                    <td>{{ story.pk }}</td>
                    <td scope="row">
                        <a href="{% url 'oldstimes:story' story.pk %}">{{ story.title }}</a>
                    </td>
                    <td>{{ story.date_published }}</td>
                    <td>
                        <a href="{% url 'oldstimes:story_edit' story.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
                        <button class="btn btn-sm btn-outline-danger" onclick="changeStory({{ story.pk }}, 'delete')">Delete</button>
                        <button id="private-{{ story.pk }}" class="btn btn-sm btn-outline-warning {% if story.is_private %}d-none{% endif %}" onclick="changeStory({{ story.pk }}, 'private')">Private</button>
                        <button id="public-{{ story.pk }}" class="btn btn-sm btn-outline-info {% if not story.is_private %}d-none{% endif %}" onclick="changeStory({{ story.pk }}, 'public')">Public</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        const changeStory = (storyPK, type) => {
            const privateEl = document.getElementById(`private-${storyPK}`)
            const publicEl = document.getElementById(`public-${storyPK}`)

            const data = new FormData()
            data.set('pk', storyPK)
            data.set('post_type', type)

            if (confirm(`Are you sure you want to ${type} the story?`)) {
                fetch("{% url 'oldstimes:settings_manage' %}", {
                    method: 'POST',
                    mode: "same-origin",
                    headers: { "X-CSRFToken": csrftoken },
                    body: data
                })
                .then(res => {
                    ({
                        'delete': () => document.getElementById(`story-${storyPK}`).remove(),
                        'private': () => {
                            privateEl.classList.add('d-none')
                            publicEl.classList.remove('d-none')
                        },
                        'public': () => {
                            publicEl.classList.add('d-none')
                            privateEl.classList.remove('d-none')
                        },
                    }[type]())
                })
                .catch(err => console.log(err))
            }
        }
    </script>
{% endblock sub-content %}