{% extends './base.html' %}

{% block content %}
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h2>{{ story.title }}</h2>
            {% if story.author.pk == request.user.pk %}
              <a href="{% url 'oldstimes:story_edit' story.pk %}">Edit your story</a>
            {% endif %}
        </div>
        <h6>{{ story.get_genre }}</h6>
        <div class="d-flex justify-content-between align-items-end">
            <div>
                <div class="d-flex mb-2">
                    <p class="fs-7 mb-0">Date published: {{ story.date_published }}</p>
                    <p class="fs-7 mb-0 mx-2">●</p>
                    <p class="fs-7 mb-0">Date last updated: {{ story.date_last_updated }}</p>
                </div>
                <div class="d-flex mb-2">
                    <p class="fs-7 mb-0">Total words: {{ story.get_word_count }}</p>
                    <p class="fs-7 mb-0 mx-2">●</p>
                    <p class="fs-7 mb-0">Estimated reading time taken: {{ story.get_reading_time_taken }} minute{{ story.get_reading_time_taken|pluralize }}</p>
                </div>
            </div>
            <div>
                <div class="d-flex mb-2 text-body-tertiary">
                    <p class="fs-7 mb-0 mx-2">
                        <gg-icon class="gg-eye"></gg-icon>
                    </p>
                    <p id='views' class="fs-7 mb-0">{{ story.get_views_total }}</p>
                </div>
            </div>
        </div>
        <div class='card p-3 my-4'>
            <h5>Abstract:</h5>
            {{ story.abstract }}
        </div>
        <div class="py-2">
            {{ story.content | safe }}
        </div>
        <div class="border-top py-3">
            <div class="d-flex align-items-end">
                <h5>{{ story.comments.count }} Comment{{ story.comments.count|pluralize }}:</h5>
                <div class="ms-4">
                    <button class="btn btn-sm btn-icon btn-outline-secondary d-flex align-items-center">
                        <div><i class="gg-sort-az"></i></div>
                        Sort by
                    </button>
                </div>
            </div>

            {% if request.user.is_authenticated %}
                <div class="py-4">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_type" value="post_comment" />
                        <div class="d-flex mb-2">
                            <i class="comment-item-icon bi bi-person-circle"></i>
                            <textarea name="content" class="form-control" placeholder="Leave a comment here" style="height: 150px;" ></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="submit" class="btn btn-sm btn-outline-secondary px-3 rounded-pill" value="Post" />
                        </div>
                    </form>
                </div>
            {% endif %}

            <ul class="list-unstyled py-2">
                {% for comment in story.comments %}
                    <li class="comment-item mb-4">
                        <div class="d-flex">
                            <i class="comment-item-icon bi bi-person-circle"></i>
                            <div class="comment-item-text">
                                <div class="d-flex align-items-baseline">
                                    <a href="{% url 'oldstimes:profile' comment.commenter.username %}">
                                        <p class="mb-0 fs-6 fw-semibold">{{ comment.commenter }}</p>
                                    </a>
                                    <p class="mb-0 fs-7 ms-2 text-muted">{{ comment.date_published }}</p>
                                </div>
                                <p class="mb-1">{{ comment.content }}</p>
                                {% if request.user.is_authenticated %}
                                    <div class="comment-item-thumb d-flex">
                                        <div onclick="triggerLike(this, 'like_comment', '{{ comment.pk }}')" class="d-flex align-items-center me-4 cursor-pointer">
                                            <i class="bi {% if request.user in comment.likes.all %}bi-hand-thumbs-up-fill{% else %}bi-hand-thumbs-up{% endif %}"></i>
                                            <p class="fs-7 ms-2 mb-0">{{ comment.likes.count }}</p>
                                        </div>
                                        <div onclick="triggerLike(this, 'dislike_comment', '{{ comment.pk }}')" class="d-flex align-items-center me-4 cursor-pointer">
                                            <i class="bi {% if request.user in comment.dislikes.all %}bi-hand-thumbs-down-fill{% else %}bi-hand-thumbs-down{% endif %}"></i>
                                            <p class="fs-7 ms-2 mb-0">{{ comment.dislikes.count }}</p>
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-outline-secondary rounded-pill px-3" onclick="showReplyPost('replyContainer-{{ comment.pk }}')">Reply</button>
                                        </div>
                                    </div>
                                    <div id="replyContainer-{{ comment.pk }}" class="d-none">
                                        <div class="d-flex mt-3">
                                            <i class="reply-item-icon bi bi-person-circle"></i>
                                            <form method="POST" class="w-100" onsubmit="postReply(this, '{{ comment.pk }}'); return true;">
                                                <textarea name="content" id="replyContainer-{{ comment.pk }}-textarea" class="form-control" placeholder="Leave a comment here" style="height: 1rem;" required></textarea>
                                                <div class="d-flex justify-content-end mt-3">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill me-2" onclick="showReplyPost('replyContainer-{{ comment.pk }}', false)">Cancel</button>
                                                    <button type="submit" class="btn btn-sm btn-outline-primary rounded-pill">Reply</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if comment.replies.count > 0 %}
                                    {% include "./story_reply.html" with recursive_round=0 comment_pk=comment_pk replies=comment.replies %}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        const swap = (el, posClass = '', negClass = '', condition = true) => {
            if (el instanceof HTMLElement) {
                if (condition) {
                    el.classList.add(posClass)
                    el.classList.remove(negClass)
                } else {
                    el.classList.remove(posClass)
                    el.classList.add(negClass)
                }
            }
        }

        const triggerShowReplies = (buttonEl, repliesContainer) => {
            const repliesContainerEl = document.getElementById(repliesContainer)

            if (repliesContainerEl) {
                if (repliesContainerEl.classList.contains('d-none')) {
                    repliesContainerEl.classList.remove('d-none')

                    const iconEl = buttonEl.querySelector('i')
                    iconEl.classList.remove('bi-caret-down-fill')
                    iconEl.classList.add('bi-caret-up-fill')
                } else {
                    repliesContainerEl.classList.add('d-none')

                    const iconEl = buttonEl.querySelector('i')
                    iconEl.classList.remove('bi-caret-up-fill')
                    iconEl.classList.add('bi-caret-down-fill')
                }
            }
        }

        const showReplyPost = (replyContainer, show = true) => {
            const replyContainerEl = document.getElementById(replyContainer)
            if (replyContainerEl) {
                show ? replyContainerEl.classList.remove('d-none') : replyContainerEl.classList.add('d-none')

                const replyTextAreaEl = document.getElementById(`${replyContainer}-textarea`)
                replyTextAreaEl.style.height = '1rem'
                replyTextAreaEl.value = ''
                replyTextAreaEl.focus()
            }
        }

        const postReply = (formEl, commentPK) => {
            const replyData = new FormData(formEl)

            replyData.set('post_type', 'reply_comment')
            replyData.set('reply_to', commentPK)

            const csrftoken = Cookies.get('csrftoken')
            
            fetch("{% url 'oldstimes:story' story.pk %}", {
                method: 'POST',
                mode: "same-origin",
                headers: { "X-CSRFToken": csrftoken },
                body: replyData
            })
        }

        const triggerLike = (buttonEl, is = 'like_comment', commentPK) => {
            const csrftoken = Cookies.get('csrftoken')

            const data = new FormData()
            data.set('post_type', is)
            data.set('comment_pk', commentPK)

            fetch("{% url 'oldstimes:story' story.pk %}", {
                method: 'POST',
                mode: "same-origin",
                headers: { "X-CSRFToken": csrftoken },
                body: data
            })
            .then(res => res.json().then(data => {
                if (is == 'like_comment') {
                    const likeEl = buttonEl.querySelector('i')
                    const likeCount = buttonEl.querySelector('p')
                    const dislikeEl = buttonEl.nextElementSibling.querySelector('i')
                    const dislikeCount = buttonEl.nextElementSibling.querySelector('p')
    
                    swap(likeEl,
                    'bi-hand-thumbs-up',
                    'bi-hand-thumbs-up-fill',
                    !likeEl.classList.contains('bi-hand-thumbs-up')
                    )
    
                    if (likeEl.classList.contains('bi-hand-thumbs-up-fill')) {
                        dislikeEl.classList.remove('bi-hand-thumbs-down-fill')
                        dislikeEl.classList.add('bi-hand-thumbs-down')
                    }

                    likeCount.innerText = data.like_count
                    dislikeCount.innerText = data.dislike_count
                } else if (is == 'dislike_comment') {
                    const dislikeEl = buttonEl.querySelector('i')
                    const dislikeCount = buttonEl.querySelector('p')
                    const likeEl = buttonEl.previousElementSibling.querySelector('i')
                    const likeCount = buttonEl.previousElementSibling.querySelector('p')
    
                    swap(dislikeEl,
                    'bi-hand-thumbs-down',
                    'bi-hand-thumbs-down-fill',
                    !dislikeEl.classList.contains('bi-hand-thumbs-down')
                    )
    
                    if (dislikeEl.classList.contains('bi-hand-thumbs-down-fill')) {
                        likeEl.classList.remove('bi-hand-thumbs-up-fill')
                        likeEl.classList.add('bi-hand-thumbs-up')
                    }

                    likeCount.innerText = data.like_count
                    dislikeCount.innerText = data.dislike_count
                }
            }))
            .catch(err => console.log(err))
        }
    </script>
{% endblock content %}