.fs-7 {
    font-size: 0.75rem !important;
}

.fs-7\.5 {
    font-size: 0.625rem !important;
}

.fs-8 {
    font-size: 0.5rem !important;
}

a > .card:hover {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.sidebar {
    width: 300px;
}

.login-panel {
    width: 100%;
    max-width: 550px;
}

.login-panel > *:not(:last-child) {
    margin-bottom: 1rem;
}

.gg-notes {
    --ggs: 0.85;
}

.gg-eye {
    --ggs: 0.85;
}

.author-profile-table > div {
    display: flex;
    align-items: center;
    min-height: 1.25em;
}

.author-profile-table > div:not(:last-child) {
    margin-bottom: 1rem;
}


.author-profile-table > div > *:not(:last-child) {
    display: flex;
    justify-content: center;
    width: 30px;

    margin-right: 0.5rem;
}